.logoButton {
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-xl);
  transition: background-color 150ms ease;

  @mixin hover {
    background-color: var(--mantine-primary-color-light-hover);
  }
}

.link {
  display: flex;
  align-items: center;
  padding-left: var(--mantine-spacing-sm);
  padding-right: var(--mantine-spacing-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-8), var(--mantine-color-gray-3)); 
  font-weight: 600;
  font-size: var(--mantine-font-size-sm);
  height: 100%;
  transition: color 150ms ease, background-color 150ms ease;
  border-radius: var(--mantine-radius-md);

  @media (max-width: $mantine-breakpoint-sm) {
    height: rem(48px);
    width: 100%;
    font-size: var(--mantine-font-size-md);
  }

  @mixin hover {
    background-color: light-dark(var(--mantine-color-teal-0), var(--mantine-color-dark-6));
    color: var(--mantine-color-teal-7);
  }
}

.subLink {
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
  }
}

.hiddenMobile {
  @media (max-width: $mantine-breakpoint-sm) {
    display: none;
  }
}

.hiddenDesktop {
  @media (min-width: $mantine-breakpoint-sm) {
    display: none;
  }
}
