.outer {
  overflow: hidden;
  background-image: radial-gradient(800px at top left, var(--mantine-primary-color-light), transparent);
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  line-height: 1.1;
  letter-spacing: -1px;
}

.highlight {
  background: -webkit-linear-gradient(45deg, var(--mantine-color-teal-5), var(--mantine-color-teal-8));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

.featureCard {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@mixin hover {
  .featureCard:hover {
    transform: translateY(-5px);
    box-shadow: var(--mantine-shadow-xl);
  }
}
